body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3fef3;
  color: #2d572c;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Audiowide", sans-serif;
}

#logo {
  height: 50px;
  vertical-align: middle;
  margin-bottom: 24px;
}

.header {
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  padding: 1rem 2rem;
  text-align: center;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-weight: 600;
}

.cart {
  font-size: 3.9rem;
}

.form-container {
  max-width: 900px;
  margin: 2rem auto;
  background-color: #e6f4e6;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 128, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #2d572c;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  flex: 0 0 48%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
}

#price-wrapper {
  position: relative;
}

.input-with-symbol {
  position: relative;
  display: flex;
  align-items: center;
}

.currency-symbol {
  position: absolute;
  left: 10px;
  font-size: 1rem;
  color: #444;
  pointer-events: none;
}

.input-with-symbol input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  width: 100%;
  padding: 0.75rem;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: linear-gradient(135deg, #3a9efd, #00d8e0);
  transform: scale(1.02);
}

#responseMsg {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  color: #444;
}

.success-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #38ef7d, #11998e); /* Green gradient */
  color: white;
  font-size: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 100, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.success-popup.show {
  opacity: 1;
}
